.Tasks {
  margin-top: 5%;
  margin-left: 4%;
  margin-right: 4%;
}

.drop-zone {
  background-color: #f6f8fc;
  border-radius: 4px;
  min-height: 40vh;
  padding-bottom: 25px;
}

.heading {
  text-align: center;
}

.drop-zone {
  box-shadow: 5px 5px 16px -5px #000000;
}

.drop-zone:only-child() {
  padding-bottom: 25px;
}

.Tasks Row {
  height: max-content;
}

.design-drop-zone {
  border-top: 2px solid purple;
}

.development-drop-zone {
  border-top: 2px solid yellow;
}

.deploying-drop-zone {
  border-top: 2px solid green;
}